*{
    padding: 0;
}

h1 {
    margin-top: 60px;
    margin-bottom: 0;
}

body {
    text-align: center;
    justify-content: center;
}

/*棒グラフの位置*/
div.chart1 {
    display: flex;
    justify-content: center;
}

/*円グラフの位置*/
div.chart2 {
    display: flex;
    justify-content: center;
}