@charset "UTF-8";

html {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-size: 62.5%;
     /* ↑ デフォルトが16px設定なので62.5%=10pxにし、のちのサイズ設定を計算しやすくしています */
     color: #40403f;
     /* ↑まっくろじゃない色 */
 	}

	h1 {
		text-align: center;
		font-size: 50px;
	}
	
	form {
		text-align: center;
		padding-top: 20px;
		background-color: aliceblue;
		font-size: 30px;
	}

	input {
		padding: 5px;
		font-size: 20px;
	}
	
