 /*　読んでね(^▽^)/ このファイルについて  */

 /* 大きなセクションの区分けは 　▼▼▼▼▼　から　▲▲▲▲　までで書いています！ */
 /* その中の区分けは 　-----から　-----　までで書いています！ */
 /* 更にその中の細かい区分けは ↓　から　↑　までで書いています！ */



 /* (以下コード) */

 /*　▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼　　　ソースコード全体の設定 ここから　　　▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼　*/
 html {
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 	font-size: 62.5%;
 	/* ↑ デフォルトが16px設定なので62.5%=10pxにし、のちのサイズ設定を計算しやすくしています */
 	color: #40403f;
 	/* ↑まっくろじゃない色 */
  scroll-behavior: smooth;
}

 /*　▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲　　　ソースコード全体の設定 ここまで　　　▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲　*/



 /*　▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼　　　ヘッダーの設定 ここから　　　▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼　*/

 /* ------------------------------------------------------------ ヘッダー領域全体*/
 header {
 	box-sizing: content-box;
 	position: fixed;
 	z-index: 999;
 	top: 0;
 	left: 0;
 	display: flex;
 	flex-wrap: nowrap;
 	width: 100%;
 	height: 113px;
 	align-items: center;
 	border-bottom-style: solid;
 	border-bottom-color: rgb(182, 28, 43);
 	border-width: 4.5px;
 	box-shadow: 0 10px 10px #FFFFFF;
 	background: linear-gradient(to top, rgb(247, 247, 233), rgb(239, 224, 103));
 	font-family: 'Kaisei Tokumin', serif;
 }

 /* ------------------------------------------------------------ ヘッダー領域全体*/


 /* ------------------------------------------------------------ ロゴ画像の領域 */
 /* 全体 */
 header div.top-image {
 	text-align: center;
 	width: 10%;
 	height: 100%;
 	margin-left: 15px;
 	/* background-color: #40403f; */
 }

 /* 全体 */


 /* その画像の大きさと位置とまわりのぼかし効果 */
 header div.top-image img {
 	display: block;
 	max-width: 90%;
 	max-height: 90%;
 	border-radius: 100%;
 	text-align: center;
 	margin: auto;
 	margin-top: 5px;
 	box-shadow: 0px 0px 30px #be5e5e;
 }

 /* その画像の大きさと位置とまわりのぼかし効果 */


 /* ------------------------------------------------------------ ロゴ画像の領域 */


 /* --------------------------------------------------『クラシック映画館』の領域 */
 /* 全体 */
 header div.theater {
 	display: block;
 	width: 22%;
 	height: 100%;
 	text-align: left;
 	margin-top: 25px;
 	/* background-color: blue; */
 }

 /* 全体 */


 /* その文字の大きさと位置 */
 header div.theater p {
 	margin-top: 17px;
 	font-size: 165%;
 }

 /* その文字の大きさと位置 */


 /* -------------------------------------------------『クラシック映画館』の領域 */


 /* ------------------------------------『お問い合わせはこちら』と電話番号の領域 */
 /* 全体 */
 header div.innertext {
 	width: 18%;
 	height: 100%;
 	display: grid;
 	place-items: center;
 	/* background-color: chartreuse; */
 	margin-left: 35px;
 }

 /* 全体 */


 /*『お問い合わせ～』の文字の大きさなど */
 header p.contact {
 	font-size: 150%;
 }

 /*『お問い合わせ～』の文字の大きさなど */


 /* 電話番号の文字の大きさなど */
 header p.contact span.phonenum {
 	font-size: 160%;
 	white-space: nowrap;
 }

 /* 電話番号の文字の大きさなど */


 /* ------------------------------------『お問い合わせはこちら』と電話番号の領域 */


 /* -----------------------------------------------------ログインボタンの領域 */
 /* 全体 */
 header div.login {
 	display: block;
 	width: 30%;
 	text-align: center;
 	height: 95%;
 	background-color: #f5f2f2;
 	border-radius: 15px;
 	border-style: solid;
 	border-color: #f2e87ddc;
 	border-width: 2px;
 	box-shadow: 0 0 5px #FFFFFF;
 	margin-left: 250px;
 }

 /* 全体 */


 /* 会員の方はこちら～ボタンまでの領域 */
 header div.login div.form {
 	display: flex;
 	width: 100%;
 	height: 100%;
 	margin: 5px auto 0 auto;
 	justify-content: space-evenly;
 }

 /* 会員の方はこちら～ボタンまでの領域 */


 /* ↓ 左側のボタン(『会員の方は』と『ログイン』ボタンを縦にまとめている領域) ↓ */
 header div.login div.form div.btn1 {
 	position: relative;
 	display: block;
 	width: 40%;
 	height: 80%;
 	margin-top: 2px;
 }


 /* 左側のボタンの中の文字 */
 header div.login span.btn1-text {
 	width: 40%;
 	height: 15px;
 	font-size: 170%;
 	font-family: 'Kaisei Tokumin', serif;
 }

 /* 左側のボタンの中の文字 */
 /* ↑ 左側のボタン(『会員の方は』と『ログイン』ボタンを縦にまとめている領域) ↑ */


 /* ↓ 右側のボタン(『当館を～』と『会員登録』ボタンを縦にまとめている領域) ↓ */
 header div.login div.form div.btn2 {
 	position: relative;
 	display: block;
 	width: 40%;
 	height: 80%;
 	margin-top: -7.5px;
 }

 /* 右側のボタンの中の文字 */
 header div.login span.btn2-text {
 	width: 40%;
 	height: 15px;
 	font-size: 170%;
 	font-family: 'Kaisei Tokumin', serif;
 }

 /* 右側のボタンの中の文字 */
 /* ↑ 右側のボタン(『当館を～』と『会員登録』ボタンを縦にまとめている領域) ↑ */


 /* ボタンそのものの大きさなど */
 header div.login .form a {
 	padding: 6px 18px;
 	background-color: rgb(245, 211, 18);
 	border-style: solid;
 	border-width: 3px;
 	border-color: #fcfcfccf;
 	border-radius: 50px;
 	box-shadow: 9px 4px 7px #3e3e3d6d;
 }

 /* ボタンそのものの大きさなど */


 /* ボタンの中の文字の大きさや文字色 */
 header div.login div.form a.btn {
 	color: black;
 	font-size: 190%;
 	font-weight: bolder;
 	text-decoration: none;
 	margin-top: 10px;
 }

 /* ボタンの中の文字の大きさや文字色 */


 /* ---------------------------------------------ログインボタンの領域 */


 /*　▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲　　　ヘッダーの設定 ここまで　　　▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲　*/




 /*　▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼　　　ナビメニューの設定 ここから　　　▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼　*/
 /* 全体 */
 nav {
 	width: 100%;
 	height: 200px;
 	display: flex;
 	margin-top: 4px;
 	font-family: 'Kaisei Tokumin', serif;
 	background: linear-gradient(to top, rgb(247, 247, 233), rgb(239, 224, 103));
 }

 /* 全体 */


 /* ナビメニューの文字について */
 nav#filmnav span {
 	margin-top: 120px;
 	font-size: 200%;
 	z-index: 998;
 }

 nav#filmnav span a {
 	text-decoration: none;
 	color: brown;
 }

 /* ナビメニューの文字について */


 /* 左のドレープ画像 */
 nav div.nav-brank1 {
 	width: 20%;
 	height: 100%;
 	background-image: url(../pic/drape.jpg);
 	background-repeat: no-repeat;
 	background-position-y: 100%;
 	background-size: 100% 39%;
 	border-radius: 13px;
 }

 /* 左のドレープ画像 */


 /* ボタン1番左 */
 nav div.nav1 {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	text-align: center;
 	margin: 0 auto;
 	width: 15%;
 	height: 100%;
 	background-image: url(../pic/nav-film.jpg);
 	background-repeat: no-repeat;
 	background-position-y: 100%;
 	background-size: 100% 39%;
 }

 /* ボタン1番左 */


 /* ボタン左から2番目 */
 nav div.nav2 {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	text-align: center;
 	margin: 0 auto;
 	width: 14%;
 	height: 100%;
 	background-image: url(../pic/nav-film.jpg);
 	background-repeat: no-repeat;
 	background-position-y: 100%;
 	background-size: 101% 39%;
 }

 /* ボタン左から2番目 */


 /* ボタン左から3番目 */
 nav div.nav3 {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	text-align: center;
 	margin: 0 auto;
 	width: 14%;
 	height: 100%;
 	background-image: url(../pic/nav-film.jpg);
 	background-repeat: no-repeat;
 	background-position-y: 100%;
 	background-size: 100% 39%;
 }

 /* ボタン左から3番目 */


 /* ボタン左から4番目 */
 nav div.nav4 {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	text-align: center;
 	margin: 0 auto;
 	width: 14%;
 	height: 100%;
 	background-image: url(../pic/nav-film.jpg);
 	background-repeat: no-repeat;
 	background-position-y: 100%;
 	background-size: 100% 39%;
 }

 /* ボタン左から4番目 */


 /* 右のドレープ画像 */
 nav div.nav-brank2 {
 	width: 20%;
 	height: 100%;
 	background-image: url(../pic/drape.jpg);
 	background-repeat: no-repeat;
 	background-position-y: 100%;
 	background-size: 100% 39%;
 	border-radius: 13px;
 }

 /* 右のドレープ画像 */


 /*　▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲　　　ナビメニューの設定 ここまで　　　▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲　*/




 /*　▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼　　　新作情報の領域の設定 ここから　　　▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼　*/
 /* 全体 */
 section.new {
 	width: 100%;
 	height: 680px;
 	margin-top: 60px;
 	border-bottom-style: solid;
 	border-bottom-color: rgb(229, 211, 212);
 	border-width: 4.5px;
 }

 /* 全体 */

 /* 『新作情報』の文字の領域について */
 div.new-inner-top {
 	width: 100%;
 	height: 80px;
 	text-align: center;
 	font-size: 100%;
 }

 /* 『新作情報』の文字の領域について */


 /* その文字の大きさなどについて */
 div.new-inner-top h2 {
 	display: flex;
 	margin: 0 auto;
 	justify-content: center;
 	align-items: center;
 	width: 30%;
 	height: 50px;
 	font-size: 420%;
 	font-family: 'Kaisei Tokumin', serif;
 }

 /* その文字の大きさなどについて */


 /* ----------------------------------------動画の部分について */
 /* 動画の領域について */
 div.new-movie video {
 	position: absolute;
 	max-width: 617px;
 	aspect-ratio: 16/9;
 	margin-left: 437px;
 	margin-top: 26px;
 }

 /* 動画の領域について */


 /* ↓ 動画データ後ろのスクリーンの画像について ↓　*/
 /* 画像の領域(画像配置のための受け皿) */
 div.new-movie {
 	position: relative;
 	width: 100%;
 	height: 750px;
 	margin-top: 20px;
 	display: inline-block;
 }

 /* 画像の領域(画像配置のための受け皿) */


 /* 画像の位置などの設定 */
 div.new-movie img {
 	position: absolute;
 	width: 90%;
 	height: 500px;
 	margin-left: 76px;
 	border-radius: 100px;
 }

 /* 画像の位置などの設定 */
 /* ↑ 動画データ後ろのスクリーンの画像について ↑ */


 /* ----------------------------------------動画の部分について */


 /*　▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲　　　新作情報の領域の設定 ここまで　　　▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲　*/




 /*　▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼　　　上映中作品の領域の設定 ここから　　　▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼　*/
 /* 全体について */
 section#showing-now {
 	display: block;
 	margin: 0 auto;
 	width: 100%;
 	height: 1100px;
 	scroll-margin-top: 100px;

 	/* background-color: #5f1313; */
 }

 /* 全体について */


 /* 『上映中の作品』の文字について */
 section#showing-now h2 {
 	display: flex;
 	margin: 20px auto 0 auto;
 	justify-content: center;
 	align-items: center;
 	width: 30%;
 	height: 50px;
 	font-size: 420%;
 	font-family: 'Kaisei Tokumin', serif;
 }

 /* 『上映中の作品』の文字について */


 /* ------------------------------------カレンダー部分 */
 /* 全体について */
   section#showing-now div.schedule {
 	display: flex;
 	width: 60%;
 	height: 90px;
 	margin: 80px auto 0 auto;
 } 
 
 section#showing-now div.schedule input{
 	display: block;
 	width: 120px;;
 	font-size: 160%;
 	margin: -12px 3px;
 	background: linear-gradient(rgb(247, 247, 233), rgb(182, 28, 43));
 	border-radius: 10px;
 	border-color:#ede0dd;
 	font-family: 'Noto Sans JP', sans-serif; ;
 }

 /* 全体について */


 /* ボタンそれぞれ(一番左を『s-btn1st』それ以降を『s-btn』でまとめて設定しています)について */
 /* section#showing-now div.s-btn-1st {
 	display: flex;
	flex-grow: 1;*/


 /* section#showing-now div.s-btn {
 	display: flex;
 	flex-grow: 1;
 	border-left: 2px solid rgb(97, 73, 73);
 }

 /* ボタンそれぞれ(一番左を『s-btn1st』それ以降を『s-btn』でまとめて設定しています)について */


 /* ------------------------------------カレンダー部分 */


 /* ------------------------------------スクリーンごとの部分 */
 /* スクリーンごとの領域について */
 /* section#showing-now div.screen1,
 section#showing-now div.screen2,
 section#showing-now div.screen3 {
     display: flex;
     width: 92%;
     height: 300px;
     background-color: rgb(246, 242, 243);
     margin: 20px auto 0 auto;
     border-radius: 0 10px 10px 0;
     padding-left: 12px;
     border-left: 7px solid rgb(182, 28, 43);
 }
 /* スクリーンごとの領域について */


 /* スクリーン番号、作品タイトル、画像を縦に並べるための領域について(スクリーンごとに作ってます) */
 /* section#showing-now div.movie-profile1,
 section#showing-now div.movie-profile2,
 section#showing-now div.movie-profile3 {
     display: block;
     width: 22%;
     height: 100%;
     /* background-color: rgb(0, 255, 38); */
 /* ↑をコメントアウト解除すると領域がわかりやすくなります */

 /* スクリーン番号、作品タイトル、画像を縦に並べるための領域について */


 /* スクリーン番号の領域について */
 /* section#showing-now div.screen-num {
     display: flex;
     text-align: left;
     line-height: 27px;
     width: 50%;
     height: 10%;
     font-size: 160%;
     font-family: 'Kaisei Tokumin', serif;
     background-color: #d9d9cf;
 }
 /* スクリーン番号の領域について */


 /* スクリーン番号の数字だけ大きくするための設定 */
 /* section#showing-now div.screen-num span {
     line-height: 27px;
     font-size: 180%;
     font-family: 'Noto Sans JP', sans-serif;
 }
 /* スクリーン番号の数字だけ大きくするための設定 */


 /* 作品タイトルの領域について */
 /* section#showing-now div.movie-title1,
 section#showing-now div.movie-title2,
 section#showing-now div.movie-title3 {
     display: flex;
     text-align: left;
     width: 95%;
     height: 30%;
     font-size: 230%;
     font-family: 'Noto Sans JP', sans-serif;
     margin-top: 13px;
 }
 /* 作品タイトルの領域について */


 /* 作品の画像について */
 /* section#showing-now div.movie-image1,
 section#showing-now div.movie-image2,
 section#showing-now div.movie-image3 {
     display: flex;
     width: 90%;
     height: 50%;
     font-size: 220%;
     color: #050505;
     margin-top: 10px;

     border: 2px dashed #050505;
     /* background-color: #166c91; */

 /* 作品の画像について */


 /* ------------------------------------スクリーンごとの部分 */


 /* -----------------------------------あとで現れたよくわからん上映作品表示の部分*/
 div#screen {
 	width: 90%;
 	height: 1000px;
 	margin: 55px auto 100px auto;
 	position: relative;
 	background-color: #f5f2f2
 }

 div#screen div.title {
 	display: block;
 	width: 45%;
 	height: 60px;
 	margin-bottom: 10px;
 	line-height: 53px;
 	font-family: 'Noto Sans JP', sans-serif;
 	font-size: 240%;
 	border-left: 5px solid rgb(192, 15, 42);
 	
 	/* 	background-color: rgb(255, 255, 0);*/
 }
 
 div#screen div.title a {
	 text-decoration-color: black;
}

 div#screen img.imgpath {
 	width: 148px;
 	height: 210px;
 	margin-bottom: 35px;
 	background-color: rgb(0, 128, 255);
 }

 div#screen div.description {
 	width: 255px;
 	height: 209px;
 	position: absolute;
 	margin: -245px 0 0 155px;
 	font-size: 150%;
 	font-family: 'Noto Sans JP', sans-serif, ExtraLight 200;
 	/* 	background-color: rgb(255, 0, 128);*/
 }

 div#screen div.time1 {
 	display: block;
 	width: 140px;
 	height: 195px;
 	position: absolute;
 	margin: -237px 0 0 430px;
 	font-size: 280%;
 	line-height: 190px;
 	text-align: center;
 	font-family: 'Noto Sans JP', sans-serif;
 	border-radius: 10px;
 	background-color: #b5b39f;
 	color: cornsilk;
 }

 div#screen div.time2 {
 	display: block;
 	width: 140px;
 	height: 195px;
 	position: absolute;
 	margin: -237px 0 0 575px;
 	font-size: 280%;
 	line-height: 190px;
 	text-align: center;
 	font-family: 'Noto Sans JP', sans-serif;
 	border-radius: 10px;
 	background-color: #b5b39f;
 	color: cornsilk;

 }

 div#screen div.time3 {
 	display: block;
 	width: 140px;
 	height: 195px;
 	position: absolute;
 	margin: -237px 0 0 721px;
 	font-size: 280%;
 	line-height: 190px;
 	text-align: center;
 	font-family: 'Noto Sans JP', sans-serif;
 	border-radius: 10px;
 	background-color: #b5b39f;
 	color: cornsilk;
 }

 div#screen div.time4 {
 	display: block;
 	width: 140px;
 	height: 195px;
 	position: absolute;
 	margin: -237px 0 0 866px;
 	font-size: 280%;
 	line-height: 190px;
 	text-align: center;
 	font-family: 'Noto Sans JP', sans-serif;
 	border-radius: 10px;
 	background-color: #b5b39f;
 	color: cornsilk;
 }

 div#screen div.time5 {
 	display: block;
 	width: 140px;
 	height: 195px;
 	position: absolute;
 	margin: -237px 0 0 1012px;
 	font-size: 280%;
 	line-height: 190px;
 	text-align: center;
 	font-family: 'Noto Sans JP', sans-serif;
 	border-radius: 10px;
 	background-color: #b5b39f;
 	color: cornsilk;
 }

 div#screen div.time6 {
 	display: block;
 	width: 140px;
 	height: 195px;
 	position: absolute;
 	margin: -237px 0 0 1157px;
 	font-size: 280%;
 	line-height: 190px;
 	text-align: center;
 	font-family: 'Noto Sans JP', sans-serif;
 	border-radius: 10px;
 	background-color: #b5b39f;
 	color: cornsilk;
 }
div.screenId {
	display: none;
}
 img.moviepath {
 	display:none;
 }

 /*　▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲　　　上映中作品の領域の設定 ここまで　　　▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲　*/




 /*　▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼　　　フッターの領域の設定 ここから　　　▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼　*/
 /* 全体 */
 footer {
 	display: flex;
 	justify-content: space-between;
 	margin-top: 220px;
 	width: 100%;
 	height: 120px;
 	background-color: rgba(166, 146, 150, 0.168);
 	background: linear-gradient(to top, rgb(232, 229, 229), rgb(165, 163, 163));
 }

 /* 全体 */


 /* ロゴとかいれるなら…の領域(とりあえず残しといてください) */
 /* footer div.logo img { 
     width: 130px;
     height: 130px;
     border-radius: 100%;
     margin-top: 20px;
     margin-left: 80px;
 }*/
 /* ロゴとかいれるなら…の領域(とりあえず残しといてください) */


 /* 左側のコピーテキスト */
 footer div.footer-text {
 	width: 250px;
 	height: 30px;
 	font-size: 130%;
 	margin-top: 50px;
 	margin-left: 20px;
 	font-family: 'Kaisei Tokumin', serif;
 }

 /* 左側のコピーテキスト */


 /* -------------------------------右側の店舗情報 */
 /* 全体 */
 footer div.footer-profile {
 	width: 280px;
 	height: 95px;
 	font-size: 130%;
 	border-left: 5px dotted rgb(182, 28, 43);
 	margin-top: 15px;
 	margin-right: 20px;
 	font-family: 'Kaisei Tokumin', serif;
 }

 /* 全体 */


 /* 文字の設定 */
 footer div.footer-profile ul li {
 	list-style: none;
 	font-size: 80%;
 }

 /* 文字の設定 */


 /* -------------------------------右側の店舗情報 */


 /*　▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲　　　フッターの領域の設定 ここまで　　　▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲　*/