* {
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
    width: 100%;
    background-color: #111;
    overflow: hidden;
    user-select: none;
}

section .row {
    display: flex;
    white-space: nowrap;
    font-size: 64px;
    padding: 10px 0;

}

i {
    color: rgba(0, 0, 0, 0.5);
    transition: 1s;
}

i:hover {
    color: violet;
    text-shadow: 0 0 120px violet;
    transition: 0s;
}