
/* 初期設定 */
* {
    /* 余白をなくす初期設定 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* 中央揃え */
}

#text-container {
    font-size: 40px;
    font-weight: bold;
}

#counter {
    position: fixed;
    top: 30px;
    right: 30px;
    background-color: #ffffff;
    padding: 10px 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}


a {
    text-decoration: none;
}

#login-button {
    display: block;
    margin: 20px auto; /* 上下の余白を追加 */
    padding: 10px 20px;
    font-size: 20px;
    color: black;
    background-color: red;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#login-button:hover {
    background-color: red;
}

.char {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.blink {
    animation: blink 1s infinite;
}

