/* googlefontルービック */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Rubik&display=swap');

/* 初期設定 */
* {
    /* 余白をなくす初期設定 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 /* 全体の色設定 */
html {
    background-color: rgb(219, 209, 209);
}

/* 全体の幅 */
body {
    max-width: 1200px;
    text-align: center;
}

/* 見出しの文字 */
h1 {
    max-width: 1200px;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 30px;
    }
}

/* 見出しの半分文字色 */
span {
    color: brown;
}

/* 項目の幅と位置 */
nav ul {
    max-width: 1200px;
    text-align: center;
}



/* 項目の位置と横の幅 */
nav ul li {
    display: inline-flex;
    flex-wrap: wrap;
}

/* 項目の文字サイズ */
nav ul li a {
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;
    margin: 10px 20px 10px 20px;
}

/* ボタンのアクション */
nav ul li a:hover {
    color: black;
    background-color: red;
    padding: 5px;
    transition: all 0.5s;
    transform: scale3d(1.3);
}

/* 項目のレスポンシブ */
@media screen and (max-width: 150px) {
    nav ul li a {
        font-size: 20px;
        margin: 0;
    }
}

/* 自己紹介の幅 */
section.profile {
    max-width: 1200px;
    text-align: center;
}

/* 自己紹介見出し */
h2 {
    max-width: 1200px;
    text-align: center;
    padding: 30px 0 15px 0;
}

/* 自己紹介見出しのレスポンシブ */
@media screen and (max-width: 150px) {
    h2 {
        font-size: 20px;
        text-align: center;
    }
}

/* 自己紹介の写真幅 */
section.profile img {
    width: 300px;
    height: 300px;
}

/* 写真のレスポンシブ */
@media screen and (max-width: 500px) {
    section.profile img {
        width: 150px;
        height: 150px;
    }
}

/* 自己紹介写真・文字合併 */
section.profile {
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
}

/* 文字のサイズ */
p {
    font-size: 20px;
    max-width: 200px;
    padding-left: 10px;
}

/* 写真のレスポンシブ */
@media screen and (max-width: 360px) {
    p {
        font-size: 15px;
        max-width: 200px;
        padding-left: 5px;
    }
}


/* 資格 */
section.skill img {
    width: 300px;
    height: 300px;
    padding-left: 10px;
}

@media screen and (max-width: 500px) {
    section.skill img {
        width: 150px;
        height: 150px;
    }
}

/* 資格の画像・コメント位置 */
section.skill {
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
}


/* スキル年数色 */
dt {
    color: chocolate;
}


/* 自己ＰＲ */
.self_pr {
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
}

/* 自己ＰＲ写真サイズ */
.self_pr img {
    width: 300px;
    height: 300px;
    padding-left: 10px;
}

@media screen and (max-width: 500px) {
    .self_pr img {
        width: 150px;
        height: 150px;
    }
}


/* お問い合わせフォーム */
section#contact {
    max-width: 1200px;
    font-size: 30px;
}
 
@media screen and (max-width: 500px) {
section#contact {
    font-size: 10px;
    transition: all 1s;
    }
}

/* お問い合わせ見出し */
#contact h1{
    max-width: 1200px;
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
}
 
@media screen and (max-width: 400px) {
    #contact h1 {
        font-size: 30px;
        transition: all 1s;
    }
}

h4 {
    text-align: center;
    margin-bottom: 20px;
}
 

/* メッセージ入力枠 */
div.messege textarea {
    width: 200px;
    height: 100px;
    padding: 10px 0 10px 0;
    background-color: white;
    border: 2px solid black;
}
 
/* 名前入力枠 */
#contact input {
    width: 200px;
    padding: 10px;
    background-color: white;
    border: 2px solid black

}
 
/* 入力ボタン */
#contact div.button {
    text-align: center;
}
 
#contact .button input {
    font-size: 10px;
    width: 50px;
    height: 35px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 5px;
    border: 2px solid black;
    padding-left: 10px;
    color: black;
}
 
#contact .button input:hover {
    background-color: red;
    transition: all 0.5s;
    transform: scale(1.1);
    color: black;
}

/* 枠の隙間 */
div.name {
    padding: 10px 0 10px 0;
}
/* 枠の隙間 */
div.email {
    padding: 10px 0 10px 0;
}