body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    background-color: #333;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    /* ナビゲーションリンクのスタイル */
    text-decoration: none;
    color: #fff;
    padding: 14px 16px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;
    display: block;
    text-align: center;
}

header nav ul li a:hover {
    background-color: #007bff; /* ホバー時の背景色 */
    border-color: #0056b3; /* ホバー時のボーダー色 */
}


section {
    padding: 20px 0;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
}


.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea {
    height: 150px;
}

button[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}

/* スクリーンサイズが小さい場合のスタイル */
@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        text-align: center;
    }

    nav ul li a {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }
}

.about-container {
    display: flex;
    align-items: center; /* 中央揃え */
    justify-content: space-between; /* コンテンツ間のスペース均等 */
    padding: 20px;
}

.about-text {
    flex: 1; /* フレキシブルな幅調整 */
    margin-right: 20px; /* テキストとサイドコンテンツの間隔 */
}

.about-side-content {
    /* ここにサイドコンテンツのスタイルを設定 */
    flex: 0.5; /* フレキシブルな幅調整 */
}

.about-text p {
    font-size: 16px; /* pタグのフォントサイズ */
    line-height: 1.5; /* 行間 */
    margin-bottom: 10px; /* 段落間のマージン */
    font-weight: bold;
}

.about-text h1 {
    font-size: 24px; /* h1タグのフォントサイズ */
}



/* レスポンシブデザイン：画面サイズが小さい場合 */
@media screen and (max-width: 600px) {
    .about-container {
        flex-direction: column; /* 垂直方向にスタック */
    }

    .about-text, .about-side-content {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

#about {
    padding: 20px;
}

#about h1 {
    color: #333;
    font-size: 20px; /* スマートフォンでは小さめのフォントサイズ */
}

#about p {
    color: #666;
    line-height: 1.6;
    font-size: 16px; /* スマートフォンでは小さめのフォントサイズ */
}

/* レスポンシブデザイン：画面サイズが小さい場合 */
@media screen and (max-width: 865px) {
    #about {
        padding: 10px;
    }

    #about h1 {
        font-size: 24px;
    }

    #about p {
        font-size: 10px;
    }
}

/* レスポンシブデザイン：画面サイズが小さい場合 */
@media screen and (max-width: 670px) {
    #about {
        padding: 10px;
    }

    #about h1 {
        font-size: 20px;
    }

    #about p {
        font-size: 7px;
    }
}

#images {
    text-align: center; /* 画像を中央揃えにする */
    padding: 10px; /* 必要に応じてパディングを追加 */
    overflow: hidden; /* アニメーションがセクションの外に出ないようにする */
}

#images img {
    width: 400px;
    height: 400px;
    height: auto; /* 画像の高さを自動調整してアスペクト比を保持 */
    animation: floatUp 3s ease-in-out; /* 3秒間の浮き上がるアニメーションを適用*/ 
}


.image-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

/* プロジェクト写真を囲むコンテナのスタイル */
.image-row a {
    flex: 0 0 30%; /* 3つの要素が横に均等に配置される */
    text-align: center;
    overflow: hidden; /* アニメーションがコンテナの外に出ないようにする */
    position: relative; /* コンテナ内での画像位置の調整に必要 */
    height: 200px; /* ここでコンテナの高さを指定 */
    margin: 10px; /* コンテナ間の余白 */
}

/* コンテナ内の画像のスタイル */
.image-row img {
    width: 100%; /* コンテナの幅に合わせて調整 */
    height: 100%; /* コンテナの高さに合わせて調整 */
    object-fit: cover; /* コンテナを満たすように画像を調整しつつ、アスペクト比を保持 */
    object-position: center; /* 画像の中央部分が表示されるように調整 */
}
/* キーフレームでスライドインアニメーションを定義 */
@keyframes slideIn {
    from {
        transform: translateX(-100%); /* 開始位置（画像は左に隠れている） */
        opacity: 0; /* 開始時は不透明 */
    }
    to {
        transform: translateX(0); /* 終了位置（元の位置） */
        opacity: 1; /* 終了時は完全に不透明 */
    }
}





/* キーフレームで浮き上がるアニメーションを定義 */
@keyframes floatUp {
    from {
        transform: translateY(100%); /* 開始位置（画像は完全に下に） */
        opacity: 0; /* 開始時は不透明 */
    }
    to {
        transform: translateY(0); /* 終了位置（元の位置） */
        opacity: 1; /* 終了時は完全に不透明 */
    }
}


#projects img {
    width: 166px;
    height: 166px;
    object-fit: cover;
    }

